{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'play_pal/css/unlogged/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<table>
    <tr class="nav_bar">

{#        <th id="logo">#}
{#            <img src="{% static 'Home/images/favicon/favicon-32x32.png' %}" alt="C.A">#}
{#        </th>#}

        <th id="homepage">
            <a href="{% url "homepage" %}">
                Homepage
            </a>
        </th>

{#        <th id="faq">#}
{#            <a href="{% url "faq" %}">#}
{#                FAQ#}
{#            </a>#}
{#        </th>#}
{##}
{#        <th id="developers">#}
{#            <a href="{% url "developers" %}">#}
{#                Developers#}
{#            </a>#}
{#        </th>#}
{##}
{#        <th id="login">#}
{#            <a href="{% url 'login' %}">#}
{#                Sign in#}
{#            </a>#}
{#            <span class="arrow">&#x2197;</span>#}
{#        </th>#}
{##}
{#        <th id="register">#}
{#            <div id="Sign-up_container">#}
{#                <a href="{% url 'register' %}">#}
{#                    Sign up#}
{#                </a>#}
{#                <span class="arrow">&#x2197;</span>#}
{#            </div>#}
{#        </th>#}
    </tr>
</table>

{% block body %}{% endblock %}
</body>

</html>
