{% extends 'play_pal/base.html' %}
{% load static %}

{% block title %}Developer - PlayPal{% endblock %}

{% block body %}
<section class="developer-content">
    <div class="container">
        <div class="developer-card">
            <h2>Dmytro Tupkalenko</h2>
            <p>UP FAMNIT first-year student of Data Science</p>

            <div class="social-links">
                <a href="https://github.com/tupkalenkodi" target="_blank" rel="noopener" class="social-link">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
